button,
.btn {
  display: inline-block;
  position: relative;
  height: 34px;
  padding: 0 1.875rem;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 34px;
  text-align: center;
  text-decoration: none;
  text-indent: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  background: none;
  border: 0;
  border-radius: 4px;
  overflow: hidden;
  user-select: none;
  transition: all 0.15s linear;
  outline: 0;
  &.solid-primary {

  }
  &.solid-accent {
    color: @dark-blue;
    background: @yellow;
  }
  &.hollow-primary {
    height: 34px;
    line-height: 30px;
    color: rgba(255,255,255,0.9);
    border: 2px solid rgba(255,255,255,0.9);
    transition: all 0.1s linear;
    &:hover {
      color: #fff;
      border-color: #fff;
    }
  }
  &.hollow-dark {
    height: 34px;
    color: #444;
    border: 2px solid #444;
    transition: all 0.1s linear;
    &:hover {
      color: #111;
      border-color: #111;
    }
  }
  &.hollow-accent {

  }
}
